.hidden-span {
  visibility: hidden;
}
.margin-span {
  display: inline-block;
  margin-left: -100%;
}
.normal-spam {
  display: inline;
  margin-left: 100%;
}
.opacity-span {
  opacity: 0;
}
.scale-span {
  display: inline-block;
  transform: scale(0);
}
.display-span {
  display: none;
}
.overflow-span {
  display: inline-block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.font-span {
  font-size: 0;
}
.intent-span {
  display: inline-block;
  text-indent: -9999px;
}