.main {
  width: 1200px;
  padding: 25px 30px;
  font-size: 13px;
  margin: 0 auto;
  border: 1px solid rgb(211, 211, 211);
  box-sizing: border-box;
}
.range {
  margin: 0 auto;
  width: min-content;
}
.double-wing-layout {
  margin: 0 auto;
  padding: 0 159px;
}
.double-wing-layout > div {
  box-sizing: border-box;
  height: 300px;
  border: 1px solid white;
  text-align: center;
  line-height: 1.5em;
  /* padding: 12px 8px; */
  color: white;
  /* 三栏全部浮动 */
  float: left;
}
.left,
.right {
  width: 149px;
  background-color: rgb(163, 142, 123);
  padding: 12px 22px;
}
.center {
  width: 100%;
  text-align: justify;
  hyphens: auto;
}
.inner-center {
  box-sizing: border-box;
  height: 100%;
  margin: 0 159px;
  background-color: rgb(163, 142, 123);
  padding: 12px 22px;
  /* padding: 29px 12px; */
}
.left {
  margin-left: -100%;
}
.right {
  margin-left: -149px;
}
