.main {
  width: 1200px;
  padding: 25px 30px;
  font-size: 13px;
  margin: 0 auto;
  border: 1px solid rgb(211, 211, 211);
}
.range {
  margin: 0 auto;
  width: min-content;
}
.holy-grail-layout {
  margin: 0 auto;
  padding: 0 159px;
}
.holy-grail-layout > div {
  box-sizing: border-box;
  height: 300px;
  background-color: rgb(163, 142, 123);
  border: 1px solid white;
  text-align: center;
  line-height: 1.5em;
  padding: 12px 8px;
  color: white;
  float: left;
}
.left,
.right {
  width: 149px;
  position: relative;
}
.center {
  width: 100%;
  /* 设计换行时的连字符 */
  hyphens: auto;
}
.left {
  /* 通过相对位置和margin-left设置不隐藏中间文本 */
  left: -159px;
  margin-left: -100%;
}
.right {
  left: 159px;
  margin-left: -149px;
}
